<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.check24.own_ssh_agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>/opt/homebrew/bin/ssh-agent -t 2h -D -a ~/.ssh/agent</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SSH_ASKPASS</key>
        <string>/opt/homebrew/bin/ssh-askpass</string>
        <key>SSH_ASKPASS_REQUIRE</key>
        <string>force</string>
    </dict>
</dict>
</plist>
